.score {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  cursor: default;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.score:hover {
  opacity: 0.2;
}

.score-1, .score-2 {
  background-color: #f32013;
  border-color: #e1180b;
}

.score-3 {
  background-color: #ff9e25;
  border-color: #ff930b;
}

.score-4, .score-5 {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
